#page{
    width: 80%; margin: 0 auto;
}

.logo{
    height:50px;
    width: 80px;
}

#banner{
    background-color: darkgrey;
    background-size: 50%;
    text-align:center;
    
}

#nav {
    background-color: cadetblue;
    text-align: center;

}

#nav {
    font-style:italic;
    font-size:larger;
    margin: right 30px;

}
#nav a:hover{
    color:aliceblue;

}